<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>YourAnimeList - Vos animes préférés à porté de main</title>
		<link rel="icon" type="image/png" href="/pictures/logo.gif"/>
		<link rel="stylesheet" href="/twatter.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="all">
			<div id="connexion" v-if="!user.connecte">
				<form class="info_connect" action="/connect" method="post">
					<label for="pseudo">Pseudo</label><input type="text" name="pseudo"> <br>
					<label for="pwd">Mot de passe</label><input type="password" name="pwd"> <br>
					<input type="submit" name="" value="Se connecter">
				</form>
			</div>
			<div class="info_connect" v-if="user.connecte">
					<img class="avatar" v-bind:src="user.avatar" alt="Avatar" id = "profile">
					<p> Bonjour {{user.pseudo}} </p>
					<a v-bind:href="user.modif_profil" ><button type="button" name="button">Modifier votre profil</button></a>
					<form action="/logout" method="get">
						<input type="submit" name="" value="Se deconnecter">
					</form>
			</div>
			<div class="jumbotron" class="baniere">
				<img src="/pictures/logo.gif" alt="Logo" class="logo">
				<div class="display-4"> Your Anime List </div>
			</div>
			<div class="anime">
				<input type="text" v-model="recherche">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
				      <th scope="col">Nom</th>
							<th scope="col">Genre</th>
				      <th scope="col">Moyenne / 5</th>
				    </tr>
					</thead>
					<tbody>
						<!--<anime
							v-for="anime in animes" v-bind:anime="anime" v-bind:moyenne="moyenne">
						</anime>-->
						<tr v-for="anime in animes" v-if="afficher(anime)">
				      <td>{{anime.nanime}}</td>
				      <td><a :href="lien(anime.nanime)">{{anime.nom}}</a></td>
							<td>{{getgenre(anime.nanime)}}</td>
							<td>{{getmoyenne(anime.nanime)}}</td>
    				</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="/accueil.js"></script>
	</body>
</html>
