<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>YourAnimeList - Vos animes préférés à porté de main</title>
		<link rel="icon" type="image/png" href="/pictures/logo.gif"/>
		<link rel="stylesheet" href="/twatter.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="all">
			<div id="connexion" v-if="!user.connecte">
				<form class="info_connect" action="/connect" method="post">
					<label for="pseudo">Pseudo</label><input type="text" name="pseudo"> <br>
					<label for="pwd">Mot de passe</label><input type="password" name="pwd"> <br>
					<input type="submit" name="" value="Se connecter">
				</form>
			</div>
      <div class="info_connect" v-if="user.connecte">
					<img class="avatar" v-bind:src="user.avatar" alt="Avatar" id = "profile">
					<p> Bonjour {{user.pseudo}} </p>
					<a v-bind:href="user.modif_profil" ><button type="button" name="button">Modifier votre profil</button></a>
					<form action="/logout" method="get">
						<input type="submit" name="" value="Se deconnecter">
					</form>
					<a :href="gethome()"><button id="home">Home</button></a>
			</div>
			<div class="jumbotron" class="baniere">
				<img src="/pictures/logo.gif" alt="Logo" class="logo">
				<div class="display-4"> Your Anime List </div>
			</div>
			<div class="d-flex justify-content-center">{{anime.nom_anime}}</div>
      <div class="row d-flex justify-content-center" id="genre">
				<p>Genre : </p>
				<ul id="liste_genre">

				</ul>
      </div>
			<div class="" id="moyenne">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Avatar</th>
				      <th scope="col">Nom Utilisateur</th>
							<th scope="col">Note</th>
				    </tr>
					</thead>
					<tbody>
						<tr v-for="note in anime.notes">
				      <td><img :src="note.avatar" alt="" class="avatar"></td>
				      <td><a :href="lien_profil(note.pseudo)">{{note.pseudo}}</a></td>
							<td>{{note.note}}</td>
    				</tr>
					</tbody>
				</table>

			</div>
			<div class="notes" v-if="user.connecte">
				<select v-model="anime.new_note_user">
					<option>Non note</option>
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<button type="button" name="button" v-on:click="update_note">Confirmer votre note</button>
				<p> Votre note actuelle : {{anime.note_user}} </p>
			</div>
		</div>
    <script src="/accueil.js"></script>
		<script src="/anime.js"></script>
	</body>
</html>
